<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intelligent Career Guidance System - Courses</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
    <link href="{{ url_for('static', filename='css1/bootstrap.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css1/font-awesome.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css1/s.css') }}" rel="stylesheet" media="all">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
    <!--Header-->
    <header id="header" class="transparent-nav" style="position: fixed;background-color: rgb(120, 70, 167); top: 0;">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a class="logo" href="{{ url_for('career') }}">Career.ly</a>
                </div>
                <button class="navbar-toggle">
                    <span></span>
                </button>
            </div>
            <nav id="nav">
                <ul class="main-menu nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('career') }}">Home</a></li>
                    <li class="dropdown">
                        <a class="dropbtn" href="javascript:void(0)">Services <span> &#11167;</span></a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('career') }}">Career Prediction</a>
                            <a href="{{ url_for('courses') }}">Courses</a>
                            <a href="{{ url_for('blog') }}">Knowledge Network</a>
                        </div>
                    </li>
                    <li><a href="{{ url_for('about') }}">About Us</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="hero-area section">
        <div class="bg-image bg-parallax overlay" style="background-image:url({{ url_for('static', filename='img/bgc2.jpg') }});"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <ul class="hero-area-tree">
                        <li><a href="{{ url_for('career') }}">Home</a></li>
                        <li>Courses</li>
                    </ul>
                    <h1 class="white-text">Get Started</h1>
                </div>
            </div>
        </div>
    </div>

    <div id="courses" class="section">
        <div class="container">
            <div class="widget tags-widget">
                <a class="tag" href="#web">Web</a>
                <a class="tag" href="#prog">Programming Languages</a>
                <a class="tag" href="#">Css</a>
                <a class="tag" href="#">Responsive</a>
                <a class="tag" href="#bootstrap">bootstrap</a>
                <a class="tag" href="#web">Html</a>
                <a class="tag" href="#">Website</a>
                <a class="tag" href="#">Business</a>
            </div>
            <div id="courses-wrapper">
                <div class="row">
                    <div class="section-header text-center">
                        <h2>Web Development</h2>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="course">
                            <a href="https://www.w3schools.com/jquery/default.asp" target="_blank" class="course-img">
                                <img src="{{ url_for('static', filename='img/coursejq.jpg') }}" alt="">
                                <i class="course-link-icon fa fa-link"></i>
                            </a>
                            <a class="course-title" href="https://www.w3schools.com/jquery/default.asp" target="_blank" style="font-size:18px; text-align: center">The Complete jQuery Course</a>
                            <div class="course-details" style="margin:5px;">
                                <span class="course-category">Web Development</span>
                                <span class="course-price course-free">Free</span>
                            </div>
                        </div>
                    </div>
                    <!-- Add more courses similarly -->
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-logo">
                        <a class="logo" style="font-size: 30px;" href="{{ url_for('career') }}">Career.ly</a>
                    </div>
                </div>
            </div>
            <div id="bottom-footer" class="row">
                <div class="col-md-8 col-md-pull-4">
                    <div class="footer-copyright">
                        <span>&copy; Copyright 2025. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
