<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intelligent Career Guidance System - Sign Up</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
    <link href="{{ url_for('static', filename='css1/bootstrap.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css1/font-awesome.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css1/s.css') }}" rel="stylesheet" media="all">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="hero-area section">
        <div class="bg-image bg-parallax overlay" style="background-image:url({{ url_for('static', filename='img/bgc2.jpg') }});"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="white-text">Sign Up for Career.ly</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card card-5">
                        <div class="card-heading">
                            <h2 class="title">Sign Up</h2>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="{{ url_for('signup') }}">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                {% if error %}
                                <div class="alert alert-danger">{{ error }}</div>
                                {% endif %}
                                <button type="submit" class="btn btn--radius-2 btn--red">Sign Up</button>
                            </form>
                            <p class="text-center">Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-logo">
                        <a class="logo" style="font-size: 30px;" href="{{ url_for('signup') }}">Career.ly</a>
                    </div>
                </div>
            </div>
            <div id="bottom-footer" class="row">
                <div class="col-md-8 col-md-pull-4">
                    <div class="footer-copyright">
                        <span>&copy; Copyright 2025. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
